@use '../../../styles/App' as *;

.select {
    position: relative;
    @media (max-width: 424.9px) {
        flex: 1 1 auto;
    }
}
.button {
        
}
.content {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 250px;
    transform: translateX(-50%);
    padding-top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    z-index: 10;
    @media (max-width: 767.9px) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(0);
        width: 100%;
        padding: 0 15px;
        background-color: #00000072;
    }
}
.list {
    background-color: #FFFFFF;
    border-radius: 35px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    @media (max-width: 767.9px) {
        width: 100%;
        gap: 25px;
    }
}
.option {
    font-size: 32px;
    color: #292D32;
    font-weight: bold;
    border-radius: 35px;
    padding: 10px 0;
    transition: background-color .3s ease;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #e8e8e8;
        transition: background-color .3s ease;
    }
}
.active {
    opacity: 1;
    visibility: visible;
    transition: all .4s ease;
}
