@use '../../styles/App' as *;

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 25px;
}
.date {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-family: inherit;
    outline: none;
    transition: border-color 0.2s;
    @media (max-width: 767.9px) {
        margin-bottom: 45px;
    }
}