@use '../../styles/App' as *;

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000072;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    &.active {
        opacity: 1;
        visibility: visible;
        transition: all .3s ease;
    }
}
.content {
    max-width: 637px;
    background-color: var(--green-light);
    border-radius: 35px;
    padding: 45px 54px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10%);
    transition-delay: .2s;
    transition: all .3s ease;
    margin: 0 15px;
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all .3s ease;
    }
}
